<a href="https://colab.research.google.com/github/Pyatachaithanya/EE/blob/main/python%20practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import math
print(len(dir(math)))

63

In [9]:
import math
num=int(input('enter the number'))
print(round(math. factorial(num)))

enter the number5
120

In [11]:
#we can give alis name to module
import math as c
num=int(input('enter the number'))
print(c.sqrt(num))

enter the number16
4.0

In [13]:
#to find the area of the circle
from math import pi
r=int(input('enter the radius'))
area=pi*r*r
print(round(area))

enter the radius2
13

In [20]:
# input and output functions
print()

In [21]:
print ('hello')
print('world')

hello
world

In [23]:
# line seperator
print('hello')
print()
print('world')

hello

world

In [24]:
#escaping characterestics(\n)
print('hello')
print('hell0 \n world')

hello
hello
 world

In [25]:
#\t: used for foam a space
print('hello\tchaithanya ')
print('good\tmorning')

hello	chaithanya
good	morning

In [28]:
#concatentatoin
print('hello'+'chaithanya' )

hellochaithanya

In [35]:
#string repeation
print('chaithanya '*3)

chaithanya chaithanya chaithanya

In [37]:
#variable numbers of orgumens
a,b,c=10,20,30
print('the values are a,b,c')

the values are a,b,c

In [42]:
#write a program to find the radiud of the circle
from math import pi as p
print (eval(input('ente the radius ')))
area=p*r**2
print('the area of the circle with radius ')

ente the radius 2
2
the area of the circle with radius

In [45]:
#seperator attribute
a,b,c=10,20,30
print(a,b,c,sep='-')

10-20-30

In [58]:
a,c,l=10,20,30
print(a, c, l, sep='')

102030

In [57]:
#end attribute
print('hello',end='')
print('chaithanya')

hellochaithanya

In [61]:
#print object as orgument
l=[10,20,30]
t=[10,20,30]
s={10,20,30,}
print(l,end='')
print(t,end='')
print(s,end='')

[10, 20, 30][10, 20, 30]{10, 20, 30}

In [75]:
# replacement operator
name='chaithanya '
studying ='sr unversity'
branch='EEE'
print('hello {} your studying in  {}\n and your branch is {}'.format(name,studying ,branch))

hello chaithanya  your studying in  sr unversity
 and your branch is EEE

In [1]:
from math import pi as p
r=eval(input('enter the radius'))
print('the area of the circle with radius{}is{}'.format(r,p*r**2))

enter the radius2
the area of the circle with radius2is12.566370614359172

In [18]:
name=input('enter the name')
if name=='chaithanya':
  print(name,'good morning')
else:
  print('chandhana','good morning')

enter the namelaxmi
chandhana good morning

In [32]:
num=eval(input('enter the number'))
if num %2  ==0:
  print('the given number,number is even')
else:
 print('the given number,number is odd')

enter the number10
the given number,number is even

In [38]:
num=int(input('enter the name'))
if num%2==0:
  print('the given number{}is even'.format(num))
else:
  print('the given number{}is odd'.format(num))

enter the name5
the given number5is odd

In [39]:
#write a program to read two numbers from the keyboard and to find the biggest of 2 numbers
n1=int(input('enter the value of n1'))
n2=int(input('enter the value of n2'))
if n1>n2:
  print('{}is greater than{}'.format(n1,n2))
else:
  print('{}is greater than {}'.format(n2,n1))

enter the value of n110
enter the value of n213
13is greater than 10

In [43]:
print('welcome to the tyristor family')
function=input('pls give your working')
if function=='jfet':
  print('give o/p characterestics')
elif function=='igbt':
   print('give i/p characterestics')
elif function=='mosfet':
    print('give i/p and o/p characterestics')
else:
      print('if dc machines not belongs to power electronics')

welcome to the tyristor family
pls give your workingmosfet
give i/p and o/p characterestics

In [45]:
#iterative staments (for loop/while loop)
for i in range(1,11):
  print(i,end='')

12345678910

In [48]:
#write a program to accept the string from the keyboard and print the caracterestics
str=input ('enter the string')
for i in str:
  print(i)

enter the stringnani
n
a
n
i

In [61]:
#write a prigram to accept the list and point the objects in the list
list=eval(input('enter the list'))
for i in list:
  print(i,end='')

enter the list['nani']
nani

In [72]:
#write a program to display the even numbers from 0to10 using loop
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [73]:
#accept the string from the keyboard
str=input('enter the string')
for x in str:
  print('the charactere present at index{}is{}'.format(i,x))
  i+1#i+1

enter the stringchaithanya
the charactere present at index10isc
the charactere present at index10ish
the charactere present at index10isa
the charactere present at index10isi
the charactere present at index10ist
the charactere present at index10ish
the charactere present at index10isa
the charactere present at index10isn
the charactere present at index10isy
the charactere present at index10isa

In [85]:
#ve and -ve both index are printing
str=input('enter the string')
i=0
for x in str:
 print('the character present at +veindex{}and -veindex {}is{}'.format(i,i-len(str),x))
i+=1

enter the stringsudheer
the character present at +veindex0and -veindex -7iss
the character present at +veindex0and -veindex -7isu
the character present at +veindex0and -veindex -7isd
the character present at +veindex0and -veindex -7ish
the character present at +veindex0and -veindex -7ise
the character present at +veindex0and -veindex -7ise
the character present at +veindex0and -veindex -7isr

In [90]:
#how to get tables in python
n=int(input('enter the value'))
for i in range(1,11):
 print('{}*{}={}'.format(n,i,n*i))

enter the value9
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90