<a href="https://colab.research.google.com/github/Pyatachaithanya/EE/blob/main/Untitled22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
my_list=["chaithanya","EEE","SRU","2305A21L65"]
print(my_list)

['chaithanya', 'EEE', 'SRU', '2305A21L65']

In [6]:
L=[]
L.append("chaithanya")
L.append("pyata")
L.append("studying EEE in sru")
print(L)

['chaithanya', 'pyata', 'studying EEE in sru']

In [14]:
#REMOVING ELEMENTS FROM THE LIST
L=[20,21,22,23]
L.remove(20)
L.remove(21)
print(L)

[22, 23]

In [16]:
#INdEXING
my_list=["chaithanya","EEE","SRU","2305A21L65"]
print(my_list[3])

2305A21L65

In [18]:
#inserting a elements
my_list=["chaithanya","EEE","SRU","2305A21L65"]
my_list.insert(2,"hanmakonda")
print(my_list)

['chaithanya', 'EEE', 'hanmakonda', 'SRU', '2305A21L65']

In [21]:
#reverse the order of elements n the lis
l=[1,2,3,4,5,6,7]
l.reverse()
print(l)

[7, 6, 5, 4, 3, 2, 1]

In [22]:
my_list=["chaithanya","EEE","SRU","2305A21L65"]
my_list.reverse()
print(my_list)

['2305A21L65', 'SRU', 'EEE', 'chaithanya']

In [24]:
print(my_list[0:2])

['2305A21L65', 'SRU']

In [27]:
#negative indexing
my_list=["chaithanya","EEE","SRU","2305A21L65"]
print(my_list[-2:-1])

['SRU']

In [29]:
#replace the elements with others
my_list=["nani","lucky","chinnu"]
my_list[2]="honey"
print(my_list)

['nani', 'lucky', 'honey']

In [30]:
t=()
print(type(t))

<class 'tuple'>

In [35]:
#tuple can hold hetrogrnic values
t=("12","trute","hai","3+2j")
print(t)

('12', 'trute', 'hai', '3+2j')

In [36]:
#tuple can applicable for index
t=("12","trute","hai","3+2j")
print(t)
print(t[0])
print(t[-1])

('12', 'trute', 'hai', '3+2j')
12
3+2j